attrs==24.2.0
Authlib==1.6.0
bcrypt==4.2.0
click==8.1.7
cloudinary==1.44.1
filetype==1.2.0
flasgger==0.9.7.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-MySQLdb==2.0.0
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
gunicorn==23.0.0
Jinja2==3.1.4
mysqlclient==2.2.4
oauthlib==3.2.2
PyJWT==2.9.0
pymongo==4.10.1
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
responses==0.25.7
SQLAlchemy==2.0.35
twilio==9.6.3
urllib3==2.2.3
Werkzeug==3.0.4
yarl==1.18.0
